<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleticalboy.pluginization">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.sleticalboy.pluginization.PluginizationApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProxyActivity" />

        <service android:name=".ProxyService" />

        <receiver android:name=".ProxyReceiver">
            <intent-filter>
                <action android:name="plubin.receiver_1.action_1" />
                <action android:name="plubin.receiver_1.action_2" />
                <action android:name="plubin.receiver_2.action_1" />
                <action android:name="plubin.receiver_n.action_1" />
                <!-- ... -->
            </intent-filter>
        </receiver>

        <provider
            android:name=".ProxyProvider"
            android:authorities="com.sleticalboy.data_provider"
            android:exported="true"
            android:permission="xxx" />
    </application>

</manifest>