<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binlee.plugin">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pluginization">

        <provider
            android:name="com.binlee.plugin.AnotherProvider"
            android:authorities="xxx"
            android:exported="true"
            android:permission="xxx" />
    </application>

</manifest>